body{
margin:0;
font-family:Segoe UI, sans-serif;
background:#F4F6F9;
}

/* LOGIN */
.login-container{
display:flex;
height:100vh;
justify-content:center;
align-items:center;
background:#4F81BD;
}

.login-box{
background:white;
padding:40px;
border-radius:14px;
width:300px;
box-shadow:0 10px 30px rgba(0,0,0,.2);
text-align:center;
}

.login-box input{
width:100%;
margin:8px 0;
padding:10px;
}

/* APP LAYOUT */
.app{
display:flex;
min-height:100vh;
}

.hidden{
display:none;
}

/* SIDEBAR */
.sidebar{
width:230px;
background:#4F81BD;
color:white;
padding:20px;
}

.sidebar button{
width:100%;
margin:6px 0;
padding:10px;
border:none;
border-radius:8px;
cursor:pointer;
background:white;
color:#4F81BD;
font-weight:bold;
}

/* CONTENT */
.content{
flex:1;
padding:25px;
}

/* PAGE */
.page{display:none;}
.page.active{display:block;}

/* CARDS */
.cards{
display:flex;
gap:20px;
margin-bottom:20px;
}

.card{
background:white;
padding:20px;
border-radius:12px;
box-shadow:0 5px 15px rgba(0,0,0,.08);
flex:1;
}

/* FORM */
.form-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:10px;
margin-bottom:15px;
}

input{
padding:10px;
border-radius:8px;
border:1px solid #ccc;
}

/* TABLE */
table{
width:100%;
border-collapse:collapse;
background:white;
border-radius:12px;
overflow:hidden;
}

th{
background:#A9D18E;
}

td,th{
padding:8px;
border:1px solid #ddd;
text-align:center;
}

/* BUTTON */
.btn{
padding:10px 15px;
border:none;
background:#4F81BD;
color:white;
border-radius:8px;
cursor:pointer;
}
